@model proyecto_inkamanu_net.Models.Entity.Contacto
@{
    ViewData["Title"] = "Contáctanos";
}
<link rel="stylesheet" href="~/css/contacto.css" />
<section class="contact" id="contact">
    <h1 class="heading">
        <span>Contáctanos</span>
    </h1>
    <div class="row">
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5854482620507!2d-76.94473582703425!3d-12.072018542367156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6e79034dc63%3A0x393610bdc506718b!2sFacultad%20de%20Ingenier%C3%ADa%20y%20Arquitectura%20-%20USMP!5e0!3m2!1ses!2spe!4v1698767104135!5m2!1ses!2spe"
            allowfullscreen="" loading="lazy">
        </iframe>

        <form asp-controller="Home" asp-action="Create" method="post">
            <h3>Ponerse En Contacto</h3>
            <input type="text" placeholder="Nombre Completo" class="box" id="Nombre" name="Nombre" required>
            <input type="email" placeholder="Correo electrónico" class="box" id="Email" name="Email" required>
            <input type="number" placeholder="Número de Teléfono" class="box" id="Phone" name="Phone" required>
            <input type="text" placeholder="Asunto" class="box" id="Asunto" name="Asunto" required>
            <textarea placeholder="Mensaje" class="box" rows="10" cols="30" id="Mensaje" name="Mensaje"
                required></textarea>
            <input type="submit" value="Enviar Mensaje" class="btn">
        </form>

        @if (TempData["MessageCONTACTO"] != null)
        {
            <div class="alert alert-success" id="MensajesVerdeRojo">
                @TempData["MessageCONTACTO"]
            </div>
        }
    </div>
</section>
