@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "InkaManu";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/index.css" />

@if (TempData["MessageLOGUEARSE"] != null)
{
    <div class="alert alert-danger" style="font-size: 16px; padding: 10px;">
        @TempData["MessageLOGUEARSE"]
    </div>
}

<body>
    <section class="content bienvenida">
        @if (SignInManager.IsSignedIn(User))
        {
            var userId = UserManager.GetUserId(User); // Obtén el ID del usuario autenticado
            var user = await UserManager.FindByIdAsync(userId); // Busca el usuario en la base de datos por ID

            // Si el usuario está autenticado, muestra un mensaje de bienvenida personalizado
            <h2 class="title">
                <span class="wellcome">Bienvenido @user.Nombres @user.ApellidoPat!</span>
            </h2>
            <p class="codigo">COD. DE USUARIO: @user.Dni</p>
            <!--<p>Obtenga información <a href="https://docs.microsoft.com/aspnet/core">sobre cómo crear aplicaciones web con
                                        ASP.NET Core</a>.</p>-->
        }
        else
        {
            // Si el usuario no está autenticado, muestra un mensaje de bienvenida genérico
            <h1 class="title">
                <span class="wellcome">Bienvenido</span>
            </h1>
            <!--<p>Obtenga información <a href="https://docs.microsoft.com/aspnet/core">sobre cómo crear aplicaciones web con
                                        ASP.NET Core</a>.</p>-->
        }
        <p class="gracias">¡GRACIAS POR FORMAR PARTE DE LA FAMILIA INKAMANU, BRINDEMOS POR MAS MOMENTOS JUNTOS!</p>
        <p class="conoce">CONOCE UN POCO MAS SOBRE NOSOTROS:</p>
    </section>

    <section class="content libre">
        <h2 class="title">C&L Team SAC</h2>
        <p class="p">Es una empresa peruana cervecera originaria del distrito Caraz del departamento de Ancash, fundada
            en
            el 2021 por el ingeniero Manuel Chincha. El junto a su enamorada y su padre, brindan cerveza de
            calidad con agradable sabor y responsable con en el medio ambiente. Además, continúa innovando sus
            productos para llegar a más personas y expandirse haciéndose conocido por la experiencia de su
            servicio y el sabor sus cervezas.
        </p>
    </section>

    <section class="content descripcion">
        <h2 class="title">Compromiso con el medio ambiente</h2>
        <p class="p">Impulsamos la sostenibilidad de nuestros desechos, recicla con nosotros
            Acércate a los centros más importante donde proveen nuestras cervezas y entrega
            tus botellas a cambio de unos vasos en base a botellas recicladas.
        </p>
    </section>

    <section class="content mision">
        <h2 class="title">Misión</h2>
        <p class="p">Buscamos ser un producto consumido a nivel nacional por brindar una cerveza artesanal que mantenga
            los estándares de calidad y se distinga por su sabor, aroma y sobre todo por ser un producto
            eco-amigable para la contribución de la responsabilidad social. Deseamos posicionarnos como una
            cerveza preferencial para acompañar comidas y momentos placenteros.
        </p>
    </section>

    <section class="content vision">
        <h2 class="title">Visión</h2>
        <p class="p">La empresa tiene por objetivo ser la marca líder en el mercado nacional de la cerveza artesanal
            trabajando en la innovación de sabores y aromas para ofrecer a la cultura cervecera nuestros
            productos.
        </p>
    </section>
</body>