@page
@model proyecto_inkamanu_net.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvidé la confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electrónico para restablecer su contraseña.
</p>
