@page
@model proyecto_inkamanu_net.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde.</p>
</header>
