@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesión";
}

<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <!--<h2>Utilice una cuenta local para iniciar sesión.</h2>-->
        <hr id="line" />
        <div class="inputBox">
            <div class="input" id="input-email">
                <span>Email</span>
                <input type="text" asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>Contraseña</span>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"
                    placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="inputBox">
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <input type="submit" value="Ingresar" class="btn"></input>

        <div class="login-options">
            <div class="input">
                <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="input">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo
                    usuario</a>
            </div>
            <div class="input">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación por
                    correo electrónico</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}