@page
@model proyecto_inkamanu_net.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Por favor revise su correo electrónico para confirmar su cuenta.:</h2>
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
        <div class="imagen">
            <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAeny8obWCeju7CiwF1UuxflF8avm5DPvtg0H9fbKAU7nmflg-v31Wq1Qbg6tkgBziwKChM08yNlZ1sCQiCYkswneJtLQ=w1908-h897">
        </div>
    </form>
</div>

<style>
    .imagen{
        margin: 2rem;
    }
    .imagen img{
        border-radius: 2rem;
        width: 60%;
        height: 60%;
    }
    #confirm-link{
        font-size: 18px;
    }
</style>