@page
@model proyecto_inkamanu_net.Areas.Identity.Pages.Account.ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar confirmación por correo electrónico";
}

<head>
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Introduce tu correo electrónico.</h2>
        <hr id="line" />
        <div class="inputBox">
            <div class="input" id="input-email">
                <span>Email</span>
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            </div>
        </div>
        <input type="submit" class="btn" value="Reenviar"></input>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}