@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --white: #ffffff;
    --bg: #f5f5f5;
    --my-blue: #0074E4;
    --light-my-blue: #6FA6FF;
    /* Aquí defines el tono más claro */
    --celeste: #40E0D0;
    --light-celeste: hsl(177, 72%, 70%);
    --amarillo: #f9d806;
    --light-amarillo: #ffee80;
    --rojo: #FF0000;
    --light-rojo: #FFAFAF;
    --verde: #369681;
    --light-verde: #00B050;
    --black: #130f40;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

body {
    background: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaARCxELhxxiv5-OwBIk7W9-YkaEzxTcsQERH-59YvNnV54qIyc2TjYd5Hp1JRgTSDSsBh1-4p4nGXWU4tktfXBchWw8MA=w1908-h897");
    background-attachment: fixed;
    background-size: cover;
}

/*--------------------------------------------- CARRUSEL ---------------------------------------------------*/

.tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #000000;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 17.5rem;
    bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: #ffffff;
}

@media (max-width:1440px) {
    #tranding {
        padding: 0.5rem 0;
    }
}

#tranding .tranding-slider {
    margin-top: 20px;
    height: 50rem;
    padding: 0.2rem 0;
    position: relative;
    background: linear-gradient(to bottom, transparent, white, transparent); /* Fondo degradado para el difuminado */
    mask-image: radial-gradient(circle at center, transparent 50%, white 70%); /* Máscara para el efecto de difuminado */
}

@media (max-width:500px) {
    #tranding .tranding-slider {
        height: 40rem;
    }
}

.tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
    border-radius: 2rem;
}

@media (max-width:500px) {
    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
    }

    .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important;
    }
}

.tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.swiper-slide {
    background-color: #f7f7f7;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

/*------------------- TITULO CATALOGO DE PRODUCTOS -----------------*/

.heading {
    text-align: center;
    font-size: 4.5rem;
    color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
}

.heading span {
    position: relative;
    width: fit-content;
    padding: 5px 15px;
}

@media (max-width:600px) {
    .heading {
        font-size: 3.3rem;
    }

    body {
        background: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDc6kbg9A0CBkF-nfyY66_R827rd9TY8u4RuF_y44MnWUzpwFx1osgtVGwFQr4Yxn3173fvDn0JBKnDvrkRkm2hI4935w=w1908-h897");
        background-attachment: fixed;
        background-size: cover;
    }
}

/*------------------- BUSCADOR DE PRODUCTOS -----------------*/

.Buscador {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 3rem;
    box-shadow: var(--box-shadow);
    padding: 8.5px;
    width: fit-content;
    margin: 1.5rem auto;
}

.Buscador form {
    margin: 0;
    display: flex;
    align-items: center;
}

.Buscador span {
    margin: 0 15px;
    font-size: 19px;
    font-weight: 500;
    color: var(--black);
    border: none;
}

.Buscador .btnBuscar {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 2rem;
    background: #00BFFF;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    padding: .5rem 1.5rem;
    margin: 0 15px;
    border: 1px solid #00BFFF;
}

.Buscador .btnBuscar:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.Buscador input[type="text"] {
    flex: 0.5;
    padding: 7.5px;
    border: none;
    border-radius: 2.1rem;
    margin: 0 10px;
    font-weight: 500;
    font-size: 1.7rem;
    padding-left: 15px;
    background-color: #f7f9fa;
    border: 1.5px solid #0074E4;
}

.alerta{
    background-color: #ffffff;
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 15px auto;
    font-size: 2rem;
    border-radius: 2.5rem;
}

@media only screen and (max-width: 600px) {
    body {
        background: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDc6kbg9A0CBkF-nfyY66_R827rd9TY8u4RuF_y44MnWUzpwFx1osgtVGwFQr4Yxn3173fvDn0JBKnDvrkRkm2hI4935w=w1908-h897");
        background-attachment: fixed;
        background-size: cover;
    }

    .Buscador span {
        display: none;
    }

    .alerta{
        width: 80%;
    }

    .Buscador .btnBuscar{
        margin: 0;
        margin-left: 15px;
    }

    .Buscador input[type="text"]{
        margin: 0;
    }
}

/*------------------- CATALOGO DE PRODUCTOS -----------------*/

/*contenedor del catalogo*/
.featured .featured-slider {
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box {
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 1rem;
}

/* Establece un contenedor de cuadrícula para los productos */
.featured .featured-slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crea 4 columnas de igual ancho */
    gap: 1rem;
    /* Agrega espacio entre los productos */
}

/* Media query para pantallas más pequeñas (ejemplo: menos de 768px) */
@media screen and (max-width: 768px) {
    .featured .featured-slider .swiper-wrapper {
        grid-template-columns: repeat(1, 1fr);
        /* 1 columna en una fila */
    }
}

.featured .featured-slider .box img {
    height: 12rem;
    margin-bottom: 2rem;
    /* PONIENDO EL HEIGH ASI TODOS LOS CONTENEDORES SON IGUALES DEL MISMO TAMAÑO SI PONGO EL CODIOG DE ABAJO LOS CONTENEDORES CAMBIAN DE TAMAÑO */
    /*width: 100%;
    padding: 2rem;*/
}

.featured .featured-slider .box:hover img {
    transform: scale(1.2);
    /* CON ESTE CODIGO HAGO QUE LA IMAGEN AL PONER EL MOUSE EN EL CONTENEDOR LA IMAGEN SE META PARA ADENTRO COMO SI LA ESTUVIERA EMPUJANDO EN EL MINUTO 01:05:12 DEL VIDEO */
}

.featured .featured-slider .box h3 {
    font-size: 2.2rem;
    color: #000000;
}

.featured .featured-slider .box .stars {
    padding: 1rem 0;
}

.featured .featured-slider .box .stars i {
    font-size: 1.7rem;
    color: #00BFFF;
}

.featured .featured-slider .box .price {
    font-size: 2.5rem;
    font-weight: 500;
    color: #000000;
}

.featured .featured-slider .box .Stock{
    font-size: 2rem;
    font-weight: 400;
    color:#4b4b4b;
}

.featured .featured-slider .box .btn {
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 10px;
    color: #000000;
    background-color: #00BFFF;
    border-radius: 1rem;
    margin-top: 10px;
    transition: background 0.3s linear;
}

.featured .featured-slider .box .btn:hover {
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 10px;
    color: #000000;
    background-color: #00BFFF;
    border-radius: 1rem;
    margin-top: 10px;
    background: #ffffff;
}


@media (max-width: 995px) {
    .container {
        max-width: 900px;
    }

    .catalogo {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .imagenProducto {
        padding: 0;
    }

    .productNombre a {
        font-size: 15px;
        padding: 0;
    }

    .productPrecio,
    .productStock {
        font-size: 13px;
        padding: 0;
    }

    .informacionProducto {
        margin-top: 10px;
    }

    .itemProducto {
        padding: 5px;
    }
}



.container {
    margin: 0 auto;
}

.section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: var(--primary);
}

/*------------------ media queries ---------------------- */

@media (max-width:991px) {
    section {
        padding: 2rem;
    }
}
