@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body{
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue: #00004B;
    --grey-blue: #00796B;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 50.5%;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 6%;
}

/*--------------------------------------------- HEADER --------------------------------------------------*/

.header { /*IMPORTANTE*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(to bottom, #87CEEB, #00BFFF);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 5%; /*AJUSTAR LOS ESPACIOS VACIOS EN EL HEADER*/
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.header .logo { /*TEXTO DEL LOGO "INKAMANU"*/
    font-size: 30px;
    color: var(--blue);
    font-weight: bolder;
}

.header .navbar a { /*PAGINAS EN EL NAVBAR "CATALOGO, PRODUCTOS Y CONTACTAME"*/
    font-size: 2.1rem;
    margin: 0 1rem;
    color: var(--blue);
    display: inline-block; /* Para que la transición funcione correctamente */
    transition: transform 0.3s, text-decoration 0.3s, border-bottom 0.3s, border-left 0.3s, border-right 0.3s, border-radius 0.3s; /* Duración de la transición de 0.3 segundos (ajusta según desees) */
    text-decoration: none; /* Elimina la línea debajo del texto por defecto */
    border-bottom: 1px solid transparent;
}

.header .navbar a:hover { /*IMPORTANTE*/
    cursor: pointer;
    transform: scale(1.2); /* Aumenta el tamaño al 120% al pasar el cursor por encima */
    text-decoration: underline; /* Agrega un subrayado al pasar el cursor por encima */
}

#menu-btn {/*IMPORTANTE PARA EL BOTON DE MENU EN CELULAR*/
    font-size: 2.5rem;
    padding: 0.7rem 0.92rem;
    color: var(--black);
    cursor: pointer;
    display: none;
    border-radius: 0.5rem;
}

#menu-btn:hover {
    background: var(--black);
    color: var(--white);
}

/*--------------------------------------------- FOOTER --------------------------------------------------*/

.footer {
    background: linear-gradient(to top, #87CEEB, #00BFFF);
    color: var(--black);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: bold;
}

.footer .box-container .box a {
    color: var(--light-color);
    font-size: 1.5rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--black);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
    /* este codigo hace que las palabras en el footer se muevan para la izquierda o derecha la cosa es que se mueve */
}

.footer .credit {
    text-align: center;
    border-top: var(--border);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.box .footer-h3{
    font-size: 30px;
}

.box .footer-a{
    color: var(--white);
    font-size: 8rem;
}

.credit{
    color: var(--white)
}

#detalles-footer{
    color: var(--black)
}

/*------------------------------------------ MEDIA QUERIES -----------------------------------------------*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header.active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);/*ACTIVA NAVBAR PARA LOS CELULARES*/
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%; /* ese codigo es hasta aca arriba */
    }
}

@media (max-width: 600px) {
    .logo-text {
        display: none;
    }
}

/*---------------------------------------------- MAIN ----------------------------------------------------*/

.container-fluid {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------ICONOS DEL HEADER----------------------------------------------*/

.iconos{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.icono-user a{
    font-size: 15px;
    padding: 1.2rem;
    color: var(--white);
    border-radius: .7rem;
    margin: 0 1rem;
}

.icono-user a:hover{
    color: var(--black);
    background-color: var(--white);
}

.icono-login a{
    font-size: 2.2rem;
    padding: 1.2rem;
    color: var(--white);
    border-radius: .7rem;
    margin: 0 1rem;
}

.icono-login a:hover{
    color: var(--black);
    background-color: var(--white);
}

.icono-logout a{
    font-size: 2.2rem;
    padding: 1.2rem;
    color: var(--white);
    border-radius: .7rem;
    margin: 0 1rem;
}

.icono-logout a:hover{
    color: var(--black);
    background-color: var(--white);
}

